<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 1</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact index container">
    <div class="top-block">
      <div class="logo">
        <img src="img/logo.png" alt="" />
      </div>
      <div class="relative-block">
        <div class="header-text-block">
          MATCH PERFECTION FOUNDATION
        </div>
        <div class="bg-image-first">
          <img src="img/bg1.png" alt="">
        </div>
      </div>
    </div>
    <div class="info-text">Your perfect foundation colour match is right here. Ace your bace with Rimmel London Match Perfection Foundationl a medium coverage formula with smart tone technology that matches 99% of UK skin tones</div>
    <div class="links-wrapper">
      <a href="step_3.html" class="next-link">Claim Samples (free)</a>
      <a href="step_2.html" class="next-link">Try the look for €2.99*</a>
    </div>
    <div class="redeemable">*redeemable on full purchase</div>
  </main>
</body>
</html>