<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 6</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact step-2 container">
    <div class="top-block">
      <div class="logo">
        <img src="img/logo.png" alt="" />
      </div>
      <div class="header-text-block-img">
        Thank you, your product is on the way!
      </div>
      <img src="img/bg1.png" alt="" class="bg-image">
    </div>
  </main>
</body>
</html>