<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 2</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact step-2 container">
    <div class="top-block non-height">
      <div class="logo">
        <img src="img/logo.png" alt="" />
      </div>
      <div class="header-text-block-img">
        the ultimate balancing act.
      </div>
      <div class="wrapper-text">
        <div class="info-text">It’s the ultimate balancing act; finding a foundation for combination skin that keeps dry
          patches hydrated. Try the entire look and get all four products in your gift set.</div>
      </div>

      <div class="wrapper-cards">
        <div class="group-card-2">
          <div class="card">
            <div class="head">
              Lasting finish primer
            </div>
            <img src="img/card1.jpg" alt="">
            <a href="#" class="popup-open">READ MORE</a>

            <div class="popup-wrapper">
              <div class="popup">
                <div class="popup__close">
                  <button></button>
                </div>
                <div class="popup__content">
                  <img src="img/card1.jpg" alt="card1">
                  <div class="popup__text">
                    <h4>
                      Lasting finish prime
                    </h4>
                    <p>
                      A <a href="#">primer</a> with serious grip, so your makeup doesn’t slide off oily patches. When
                      skin
                      feels out of balance, we love <a href="#">Fix & Perfect Pro Primer</a>, which helps to mattify and
                      add a dose of blurring brightness. Yasss.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="head">
              Colour Corrector
            </div>
            <img src="img/card2.png" alt="">
            <a href="#" class="popup-open">READ MORE</a>

            <div class="popup-wrapper">
              <div class="popup">
                <div class="popup__close">
                  <button></button>
                </div>
                <div class="popup__content">
                  <img src="img/card2.png" alt="card1">
                  <div class="popup__text">
                    <h4>
                      Colour Corrector
                    </h4>
                    <p>
                      As if you needed more drama, combination skin is prone to looking blotchy and uneven. Makes sense
                      when you think about the two different dilemmas you’re dealing with: desert dryness and so. much.
                      shine. Ready to get even?
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="group-card-2">
          <div class="card">
            <div class="head">
              Foundation
            </div>
            <img src="img/card3.jpg" alt="">
            <a href="#" class="popup-open">READ MORE</a>

            <div class="popup-wrapper">
              <div class="popup">
                <div class="popup__close">
                  <button></button>
                </div>
                <div class="popup__content">
                  <img src="img/card3.jpg" alt="card1" class="contain">
                  <div class="popup__text">
                    <h4>
                      Foundation
                    </h4>
                    <p>
                      Rimmel London Lasting Finish 25 Hour Foundation with Comfort Serum has got you covered.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="head">
              Powder
            </div>
            <img src="img/card4.png" alt="">
            <a href="#" class="popup-open">READ MORE</a>

            <div class="popup-wrapper">
              <div class="popup">
                <div class="popup__close">
                  <button></button>
                </div>
                <div class="popup__content">
                  <img src="img/card4.png" alt="card1" class="contain">
                  <div class="popup__text">
                    <h4>
                      Powder
                    </h4>
                    <p>
                      Two face powders – one to kill shine and another to throw some major glow. Try cult-classic
                      mattifier, <a href="#">Stay Matte Powder</a>, to hit delete on oil, and <a href="#">Radiance
                        Brick</a> for luminosity where you need it the most.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="link-block">
          <a href="step_3.html" class="next-link">GET THE LOOK</a>
        </div>
      </div>
    </div>
  </main>

  <script src="js/libs.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>