<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 3</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact step-2 container">
    <div class="top-block">
      <div class="logo">
        <img src="img/logo.png" alt="" />
      </div>
      <div class="header-text-block-img">
        Please enter your details to get the sample set sent to you
      </div>

      <form action="step_5.html" class="details-form">
        <div class="names-block form-row two-column">
            <div class="input-wrap">
              <input type="text" placeholder="First name" name="first_name">
            </div>
            <div class="input-wrap">
              <input type="text" placeholder="Last name" name="last_name">
            </div>
        </div>

        <div class="input-wrap">
          <input placeholder="Email" type="email" id="email">
        </div>

        <div class="input-wrap">
          <input type="text" placeholder="Address" name="address">
        </div>

        <input type="text" name="address2">

        <div class="names-block form-row two-column">
          <div class="input-wrap">
            <input type="text" placeholder="City" name="city">
          </div>
          <div class="input-wrap">
            <input type="text" placeholder="Postcode" name="zip">
          </div>
        </div>

        <div class="checkbox-block">
            <input type="checkbox" name="terms" id="terms">
          <div class="checkbox-text">Please confirm that you agree to our
            Terms of Use and Privacy Policy by ticking here</div>
        </div>
        <div class="checkbox-block">
          <input type="checkbox" name="" id="">
          <div class="checkbox-text">Please confirm that you agree to receive marketing communications about Rimmel offers, news and events by emails </div>
        </div>

        <div class="btns full">
          <label class="btn middle disabled" id="customer_form_label">
              <input type="submit" id="customer_form_submit" disabled />
              Enter payment details
          </label>
        </div>
      </form>
    </div>
  </main>
  
  <script src="js/libs.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>
</html>