<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 5</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact container">
    <div class="top-block">
      <div class="logo">
        <img src="img/logo.png" alt="" />
      </div>
      <div class="header-text-block-img">
        Please enter your details to get the sample set sent to you
      </div>

      <form action="last.html" class="details-form card-form">
        <div class="input-wrap">
          <input type="text" placeholder="Name on card" name="name_on_card">
        </div>
        <div class="input-wrap">
          <input type="text" class="ccFormatMonitor" placeholder="Card number" name="card_number">
        </div>

        <div class="names-block form-row two-column">
          <div class="input-wrap">
            <input type="text" name="expiry" placeholder="Expiry" id="inputExpDate" placeholder="MM / YY" maxlength='7'>
          </div>
          <div class="input-wrap">
            <input type="password" name="cvv" placeholder="Security code" class="cvv">
          </div>
        </div>
        <div>
          <div class="total-purchase">Total: €2.99*</div>
          <div class="total-purchase">*redeemable on full purchase</div>
        </div>

        <div class="btns full">
          <label class="btn middle disabled" id="card_form_label">
            <input type="submit" id="card_form_submit" disabled />
            Send My sample set
          </label>
        </div>
      </form>

    </div>
  </main>

  <script src="js/libs.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>