<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 2</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact step-2 container">
    <div class="top-block non-height">
      <div class="logo">
        <img src="img/logo.png" alt="" />
      </div>
      <div class="header-text-block-img">
        the ultimate balancing act.
      </div>
      <div class="wrapper-text">
        <div class="info-text">It’s the ultimate balancing act; finding a foundation for combination skin that keeps dry patches hydrated. Try the entire look and get all four products in your gift set.</div>
      </div>
      <div class="wrapper-cards">
        <div class="group-card-2">
          <div class="card">
            <div class="head">
              Lasting finish primer
            </div>
            <img src="img/card1.png" alt="">
            <a href="">READ MORE</a>
          </div>
          <div class="card">
            <div class="head">
              Colour Corrector
            </div>
            <img src="img/card2.png" alt="">
            <a href="">READ MORE</a>
          </div>
        </div>
        <div class="group-card-2">
          <div class="card">
            <div class="head">
              Foundation
            </div>
            <img src="img/card3.png" alt="">
            <a href="">READ MORE</a>
          </div>
          <div class="card">
            <div class="head">
              Powder
            </div>
            <img src="img/card4.png" alt="">
            <a href="">READ MORE</a>
          </div>
        </div>
        <div class="link-block">
          <a href="step_3.html" class="next-link">GET THE LOOK</a>
        </div>
      </div>
    </div>
  </main>
</body>

</html>