<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 4</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact step-2 container">
    <div class="top-block">
      <div class="logo">
        <img src="img/logo.png" alt="" />
      </div>
      <div class="header-text-block-img">
        Please enter your details to get the sample set sent to you
      </div>
      <form action="" class="details-form">
        <div class="names-block">
          <input type="text" placeholder="First name">
          <input type="text" placeholder="Last name">
        </div>
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Address" name="address">
        <input type="text" name="address">
        <div class="names-block">
          <input type="text" placeholder="City">
          <input type="text" placeholder="Postcode">
        </div>
        <div class="checkbox-block">
          <input type="checkbox" name="" id="">
          <div class="checkbox-text">Please confirm that you agree to our
            Terms of Use and Privacy Policy by ticking here</div>
        </div>
        <div class="checkbox-block">
          <input type="checkbox" name="" id="">
          <div class="checkbox-text">Please confirm that you agree to receive marketing communications about Rimmel offers, news and events by emails </div>
        </div>
        <div class="link-block">
          <a href="step_6.html" class="next-link">Send My sample</a>
        </div>
      </form>
    </div>
  </main>
</body>
</html>